<?xml version="1.0"?>
<model>
  <name>rover</name>  <!-- gazebo model name pose-->
  <version>1.0</version>
  <sdf version='1.4'>rover.sdf</sdf>

  <author>
   <name>Zhaoxiang Lee</name>
   <email>cooneo@outlook.email</email>
  </author>

  <description>
    neor mini ackerman robot.
  </description>
</model>